<!DOCTYPE html>
<html>
<head>
    <title>Nice Homepage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
            margin: 20px;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Saraiya Hostel</h1>
</header>

<div>
    <p>
        Hello There!
    </p>
</div>
</body>
</html>
