<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Add Mess Cancellation </h1>
            <div class="card-body">
                <form th:action="@{/mymess}" method="POST">
                    <div class="form-group">
                        <input type="hidden" th:field="${hostel.hostelId}"/>
                    </div>
                    <div class="form-group">
                        <input type="hidden" th:field="${mess.hostelRegistrationId}"/>
                    </div>
                    <div class="form-group">
                        <input type="hidden" th:field="${mess.rollNo}"/>
                    </div>

                    <div class="form-group">
                        <label>
                            Date of Cancellation:
                            <input
                                    type="date"
                                    name="date"
                                    th:field="*{mess.date}"
                                    placeholder="Enter Mess cancellation Date"
                                    th:attr="min=${#calendars.format(mindate.getTime(), 'yyyy-MM-dd')}, max = ${#calendars.format(maxdate.getTime(), 'yyyy-MM-dd')}"
                            />
                        </label>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>