<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Add Mess Cancellation </h1>
            <div class="card-body">
                <form th:action="@{/mess}"  method="POST">
                    <div class="form-group">
                      <label>
                         Hostel Id :
                          <input
                                   type="number"
                                   name="Hostel "
                                  th:field="*{hostel.hostelId}"
                                    class="form-control"
                                   placeholder="Enter Hostel id"
                          />
                       </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Roll No:
                            <input
                                    type="number"
                                    name="Roll No"
                                    th:field="*{mess.rollNo}"
                                    class="form-control"
                                    placeholder="Enter Roll No"
                            />
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Date of Cancellation:
                            <input
                                    type="date"
                                    name="date"
                                    th:field="*{mess.date}"
                                    placeholder="Enter Mess cancellation Date"
                            />
<!--                                    min="2020-01-01"-->
                        </label>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>