<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Add required hostel id </h1>
            <div class="card-body">
                <form th:action="@{/filterByHostelAndSession}" th:object="${filter}" method="POST">
                    <div class="form-group">
                        <label>Select a Hostel:
                            <select th:field="*{hostelId}">
                                <option value="">-- Select a Hostel --</option>
                                <option th:each="hostel : ${hostels}" th:value="${hostel.hostelId}" th:text="${hostel.hostelName}"></option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Select a Session Year:
                            <select th:field="*{sessionId}">
                                <option value="">-- Select a Session Year --</option>
                                <option th:each="year : ${sessions}" th:value="${year.sessionId}" th:text="${year.sessionName}"></option>
                            </select>
                        </label>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>