<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Add required Roll No </h1>
            <div class="card-body">
                <form th:action="@{/mess/postFilterByRollNo}" th:object="${student}" method="POST">
                    <label for="rollNo">Enter roll No</label>
                    <select id = "rollNo" th:field="*{roll}" required>
                        <option value=""> Select a Student </option>
                        <option th:each="s : ${students}" th:value="${s.roll}" th:text="${s.roll} + ' : ' + ${s.name}"></option>
                    </select>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>