<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header"></head>

<body id="page-top">

<h1> Landed on Dashboard page</h1>

<div th:switch="${user.role}">
	<p th:case="admin">
		User is an administrator
		<a class="btn-block" href="/hostels">
			Hostels
		</a>
		<a class="btn-block" href="/complaints">
			Complaints
		</a>
	</p>
	<p th:case="student">
		User is a student
		<a class="btn-block" href="/mycomplaints">
			My Complaints
		</a>
	</p>
	<p th:case="*">User is some other thing</p>
</div>
<a href="/logout" class="btn btn-primary">Logout</a>
</body>

</html>
