<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class = "row" th:switch="${user.role}">
        <span th:case="admin">
            <a th:href = "@{/notice/add}" class = "btn btn-primary btn-sm mb-3"> Add Notice</a>
        </span>
        <span th:case="*">

        </span>
    </div>

    <table class = "table table-striped table-bordered">
			<thead class = "table-dark">

				<tr th:switch="${user.role}">
                    <span th:case="admin">
                        <th>Hostel Name</th>
                        <th>Session Name</th>
                        <th>Notice Description </th>
                        <th> Notice Date </th>
                        <th> Modify Notice</th>
                    </span>
                    <span th:case="student">
                        <th>Notice Description </th>
                        <th> Notice Date </th>
                    </span>
				</tr>
			</thead>

			<tbody>
<!--            <tr th:each="emp,iterStat : ${empList}">-->
<!--    <td th:text="${emp.id}">ID</td>-->
<!--    <td th:text="${accList[__${iterStat.index}__].field}">Emp Account</td> -->
<!--</tr>-->
				<tr th:each = "notice,iter: ${notices}" th:switch="${user.role}">
                    <span th:case="admin">
                        <td th:text="${hostels[__${iter.index}__]}"></td>
                        <td th:text="${sessions[__${iter.index}__]}"></td>
                        <td th:text="${notice.description}"></td>
                        <td th:text="${notice.date}"></td>
                        <td>
                            <a th:href="@{/notices/{id}(id=${notice.noticeId})}" class = "btn btn-primary btn-sm mb-3"> Modify Notice</a>
                        </td>
                    </span>
                    <span th:case="student">
                        <td th:text="${notice.description}"></td>
                        <td th:text="${notice.date}"></td>
                    </span>

				</tr>
			</tbody>

    </table>

</body>
</html>