<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>
        Notices
    </title>
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="/css/material-dashboard.min.css?v=3.1.0" rel="stylesheet" />
</head>
<body class="g-sidenav-show  bg-gray-200">
<div th:switch="${user.role}">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <div class="navbar-brand m-0">
                <img src="/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">HostelHub</span>
            </div>

        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white " href="/dashboard">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/complaints">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Complaints</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white " href="/notices">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Notice</span>
                    </a>
                </li>
                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account Options</h6>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/complaints">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Log Out</span>
                    </a>
                </li>
                <li class="nav-item" th:case="student">
                    <a class="nav-link text-white " href="/myProfile">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Profile</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidenav-footer position-absolute w-100 bottom-0 ">
            <div class="mx-3">
                <a class="btn btn-outline-primary mt-4 w-100" href="/aboutUs" type="button">About Us</a>
                <a class="btn bg-gradient-primary w-100" href="/contactUs" type="button">Contact Us</a>
            </div>
        </div>
    </aside>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Dashboard</a></li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Notices</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Notices</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar" th:case="admin">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <ul class="navbar-nav  justify-content-end">
                            <li class="nav-item d-flex align-items-center">
                                <div>
                                    <a th:href = "@{/notice/add}" class="btn btn-sm mb-0 me-1 bg-gradient-dark"> Add Notice</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">Notices</h6>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead class = "table-dark">
                                    <tr th:switch="${user.role}">
                    <span th:case="admin">
                        <th class="text-uppercase text-normal font-weight-bolder ps-4"> Hostel Name</th>
                        <th class="text-uppercase text-normal font-weight-bolder ps-4"> Session Name</th>
                        <th class="text-uppercase text-normal font-weight-bolder ps-4"> Notice Description </th>
                        <th class="text-uppercase text-normal font-weight-bolder ps-4"> Notice Date </th>
                        <th class="text-uppercase text-normal font-weight-bolder ps-4"> Modify Notice</th>
                    </span>
                                        <span th:case="student">
                        <th>Notice Description </th>
                        <th> Notice Date </th>
                    </span>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each = "notice,iter: ${notices}" th:switch="${user.role}">

                    <span th:case="admin">

                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center ps-3">
                                                    <p class="text-lg" th:text="${hostels[__${iter.index}__]}"></p>
                                                </div>
                                            </div>
                                        </td>
                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center ps-3">
                                                    <p class="text-lg" th:text="${sessions[__${iter.index}__]}"></p>
                                                </div>
                                            </div>
                                        </td>
                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center ps-3">
                                                    <p class="text-lg" th:text="${notice.description}"></p>
                                                </div>
                                            </div>
                                        </td>
                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center ps-3">
                                                    <p class="text-lg" th:text="${notice.date}"></p>
                                                </div>
                                            </div>
                                        </td>
                        <td>
                            <div class="d-flex px-lg-3">
                            <a th:href="@{/notices/{id}(id=${notice.noticeId})}" class="badge badge-sm bg-gradient-warning"> Modify Notice</a>
                            </div>
                        </td>
                    </span>
                                        <span th:case="student">
                        <td th:text="${notice.description}"></td>
                        <td th:text="${notice.date}"></td>
                    </span>

                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer py-4  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-sm text-muted text-lg-start">
                                HostelHub © IIT BHU Varanasi 2023 <script>
                                document.write(new Date().getFullYear())
                            </script>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/js/material-dashboard.min.js?v=3.1.0"></script>
</div>
</body>
</html>