<!DOCTYPE html>
<html lang="en">
<head th:replace="dashboard/layouts/header :: header"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Register Hostel </h1>
				<div class = "card-body">
					<form th:action="@{/registeredHostels}" th:object = "${hostelRegistration}" method="POST">

						<div class="form-group">
							<select class="form-control"
									th:field="*{hostelId}"
									required
							>
								<option value="">Select Hostel Name</option>
								<option th:each="hostel : ${hostels}"
										th:value="${hostel.getHostelId()}"
										th:text="${hostel.getHostelName()}"
								>

								</option>
							</select>
						</div>

						<div class="form-group">
							<select class="form-control"
									th:field="*{sessionId}"
									required
							>
								<option value="">Select Session Name</option>
								<option th:each="esession : ${sessions}"
										th:value="${esession.getSessionId()}"
										th:text="${esession.getSessionName()}"
								>

								</option>
							</select>
						</div>
						<div class ="form-group">
							<input
							type = "text"
							name = "session Name"
							th:field = "*{roomCount}"
							class = "form-control"
							placeholder="Enter Total No of Rooms"
                            required
							/>
						</div>

						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

</body>
</html>